<div class="jumbotron">
  <div class="container">
    <h1>Crushmet.</h1>
  </div>
</div>
<div class="learn-more">
  <div class="container">
      <div class="row">
        <%= link_to new_registered_application_path do %>
          <div class="col-md-4">
            <h3>Register</h3>
            <p>Register your app and <i>crush</i> your metrics.</p>
          </div>
        <% end %>
        <%= link_to registered_applications_path do %>
          <div class="col-md-4">
            <h3>Manage</h3>
            <p>Add,Edit and Remove Apps.</p>
          </div>
        <% end %>
        <div class="col-md-4">
          <h3>Reports</h3>
          <p>Generate and download reports.</p>
        </div>
      </div>
    </div>
</div>
